*.json
!/*.json
!experiment/conceptnet/conceptnet_adjacent.json
*.jsonl
*.word2vec
*.pkl
*.xlsx
*.csv
!/*.csv
!results/*.csv
*.numbers
*.pyc
*.gz
*.bz2
*.txt
*.tmp
*.zip
*.pdf
*.docx
__MACOSX/
__MACOSX/*
__pycache__/
data/conceptnet/
data/google_ngram_corpus/
data/google1M5G_filtered/
data/raw_data/
model_params/
run/tag_result
wandb/
mturk/
experiment/human_annotation
experiment/human_interview
experiment/human_interview_result